#main h3{
    font-size:21px;
    color:white;
    line-height:40px;
}

#comments{
    border:1px solid #013a73;
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}

#comments .gravatar{
    float:left;
    padding-right:20px;
}
#main #comments cite,#main #comments .comment-meta{
    line-height:24px;
}

#comments cite{
    font-size:14px;
    line-height:18px;
    color:white;
}
#comments .commentmetadata{
    color:white;
    line-height:18px;
    font-size:14px;
}
#comments .comment_text{
    color:#999;
    line-height:18px;
    font-size:14px;
}
#comments .comment_text p:before{
    content:'“';
    font-size:20px;
}
#comments .comment_text p:after{
    content:'”';
    font-size:20px;
}
#comments li{
    padding-bottom:20px;
}

#contact_form ul {
    float:left;
}
#contact_form ul li {
    margin:10px 0;
    list-style:none;
    position:relative;
    clear:both;
}
#contact_form label {
    line-height:35px;
    width:100px;
    text-align:right;
    float:left;
    margin-right:10px;
}
#contact_form input#name, #contact_form input#email, #contact_form input#subject, #contact_form textarea {
    float:left;
    padding:8px;
    border:1px solid #CCCCCC;
    margin-left:10px;
    background:#fcfcfc;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}
#contact_form input#name, #contact_form input#email, #contact_form input#subject {
    width:400px;
}
#contact_form textarea {
    width:500px;
    height:150px;
    resize: none;
}
#contact_form input.button {
    float:right;
}
/* Comment form */

    #comment_form ul {
    float:left;
}
#comment_form ul li {
    margin:10px 0;
    list-style:none;
    position:relative;
    clear:both;
}
#comment_form label {
    line-height:35px;
    color:white;
    width:100px;
    text-align:right;
    float:left;
    margin-right:10px;
}
#comment_form input, #comment_form textarea {
    float:left;
    padding:8px;
    border:1px solid #CCCCCC;
    margin-left:10px;
    color:white;
    background:#fcfcfc;
    background-color:rgba(0,0,0,0);
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    outline:none;
}
#comment_form input {
    width:400px;
    height:11px;
}
#comment_form textarea {
    width:500px;
    height:150px;
    resize:none;
}
#comments_submit_button{
    padding:5px;
    border-radius:3px;
    border:1px #2222C7 solid;
    background-color:#2A4056;

    -webkit-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -moz-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -o-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -ms-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
}
#comments_submit_button:hover{
    padding: 5px;
    border-radius: 3px;
    border: 1px #9B9BF7 solid;
    background-color: #2246F3;
}

