@charset "UTF-8";
.parent {
  position: relative; }

.child_with_unknown_dimensions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.child_with_known_width {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  transform: translateY(-50%); }

.child_with_known_height {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  margin-top: -200px;
  transform: translateX(-50%); }

.child_width_known_demensions {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px; }

#myId {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0px; }

#mySecondId:before {
  content: "";
  display: table; }
#mySecondId:after {
  clear: both; }

.triangle:before {
  content: "";
  height: 0px;
  width: 0px;
  overflow: hidden; }

.button-disabled {
  background-color: #e6e6e6 !important;
  color: #ababab !important;
  cursor: not-allowed !important; }

.horizontal-line {
  border-bottom: 1px dashed grey;
  padding-top: 15px;
  padding-bottom: 15px; }

#myId {
  width: 300px; }

#mySecondId {
  width: 300px; }

.test1 {
  content: Hello World; }

.test2 {
  content: helloWorld; }

.triangle:before {
  border-bottom: 6px solid red;
  border-left: 6px dashed transparent;
  border-right: 6px dashed transparent; }

#one > .one {
  padding: 3px; }
#one > .two {
  padding: 4px; }

.error, .seriousError {
  background: blue;
  border: 1px red solid; }

.seriousError {
  border-width: 3px; }

.a .b .bb .c, .a .b .bb .one .two, .one .a .b .bb .two {
  font-size: 29px; }

#main > .post > h3:first-of-type {
  font-size: 21px;
  color: white;
  line-height: 40px;
  border-bottom: 1px dashed #50ffff; }

#comments {
  border: 1px solid #00B7E9;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;
  word-break: break-all; }
  #comments a, #comments p, #comments span, #comments textarea, #comments cite, #comments div {
    color: #74C1BB; }
  #comments h3 {
    color: #00B7E9; }
  #comments .gravatar {
    float: left;
    padding-right: 20px; }
  #comments cite {
    font-size: 14px;
    line-height: 18px; }
  #comments .commentmetadata {
    line-height: 18px;
    font-size: 14px; }
  #comments .comment_text {
    color: #999;
    line-height: 18px;
    font-size: 14px; }
    #comments .comment_text p :before, #comments .comment_text p :after {
      content: '“';
      font-size: 20px; }
  #comments li {
    padding-bottom: 0px; }

#main #comments cite, #main #comments .comment-meta {
  line-height: 24px; }

#contact_form ul {
  float: left; }
  #contact_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both; }
#contact_form label {
  line-height: 35px;
  width: 100px;
  text-align: right;
  float: left;
  margin-right: 10px; }
#contact_form input#name, #contact_form input#email, #contact_form input#subject, #contact_form textarea {
  float: left;
  padding: 8px;
  border: 1px solid #CCCCCC;
  margin-left: 10px;
  background: #fcfcfc;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px; }
#contact_form input#name, #contact_form input#email, #contact_form input#subject {
  width: 400px; }
#contact_form textarea {
  width: 500px;
  height: 150px;
  resize: none; }
#contact_form input.button {
  float: right; }

/* Comment form */
#comment_form input, #comment_form textarea {
  -webkit-transition: all, 0.9s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.9s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.9s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.9s, cubic-bezier(0, 1.23, 0.68, 1.01); }
#comment_form input.error, #comment_form input.seriousError, #comment_form textarea.error, #comment_form textarea.seriousError {
  border-color: red; }
#comment_form ul {
  float: left;
  width: 100%; }
  #comment_form ul li {
    margin: 10px 0;
    list-style: none;
    position: relative;
    clear: both; }
    #comment_form ul li input:first-of-type {
      width: 35%; }
    #comment_form ul li input:last-of-type {
      width: 58%;
      line-height: 20px; }
    #comment_form ul li textarea {
      width: 96%;
      overflow: hidden;
      height: 150px;
      resize: none; }
    #comment_form ul li input, #comment_form ul li textarea {
      float: left;
      padding: 8px;
      border: 1px #00B7E9 solid;
      margin-left: 10px;
      color: #74C1BB;
      background: #fcfcfc;
      background-color: transparent;
      -webkit-border-radius: 5px;
      -o-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      outline: none; }
#comment_form label {
  line-height: 35px;
  color: white;
  width: 100px;
  text-align: right;
  float: left;
  margin-right: 10px; }

#comments_submit_button {
  padding: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border: 1px #2222C7 solid;
  background-color: #2A4056;
  -webkit-transition: all, 0.8s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.8s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.8s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.8s, cubic-bezier(0, 1.23, 0.68, 1.01); }
  #comments_submit_button:hover {
    padding: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border: 1px #9B9BF7 solid;
    background-color: #2246F3; }

/*# sourceMappingURL=comments.css.map */
