body{
    background-color:#011A33;
}
#wrapper{
    width:1200px;
    display:block;
    margin:0 auto;
}


.button{
    padding: 5px;
    padding-bottom:1px;
    padding-top:1px;
    border-radius: 3px;
    border: 1px #2222C7 solid;
    background-color: #2A4056;
    -webkit-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -moz-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -o-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    -ms-transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
    transition: all 0.8s cubic-bezier(0, 1.23, 0.68, 1.01);
}
.button:hover{
    border: 1px #9B9BF7 solid;
    background-color: #2246F3;
}



#main{
    width:890px;
    background:url("../images/main_back.png");
    margin-top:14px;
    float:left;
}
#main .post{
    padding:17px;
    padding-left:0px;
}
#main .post {
    color:#999;
    border: 1px solid #013a73;
    -webkit-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -o-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -ms-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
}
#main .post h3,#main .post p{
    padding-left:17px;
}
#main .post h3{
    -webkit-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -o-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -ms-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    border-left:5px currentColor solid;
}
#main .post h3 a{
    color:white;
    -webkit-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -moz-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -o-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    -ms-transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
    transition: all 0.5s cubic-bezier(0, 1.23, 0.68, 1.01);
}
#main .post:hover h3,#main .post:hover h3 a{
    /*border:1px solid #88D3F9;*/
    /*padding-left:20px;*/
    color:#614CFF;

}
#main .post h3{
    line-height:40px;
}
#main .post h3 a{
    font-size:24px;
}
#main .post p{
    line-height:24px;
}
#main .post p > a{
    color:#999;
}






