@charset "UTF-8";
.parent {
  position: relative; }

.child_with_unknown_dimensions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.child_with_known_width {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  transform: translateY(-50%); }

.child_with_known_height {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  margin-top: -200px;
  transform: translateX(-50%); }

.child_width_known_demensions {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px; }

#myId {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0px; }

#mySecondId:before {
  content: "";
  display: table; }
#mySecondId:after {
  clear: both; }

.triangle:before {
  content: "";
  height: 0px;
  width: 0px;
  overflow: hidden; }

.button-disabled {
  background-color: #e6e6e6 !important;
  color: #ababab !important;
  cursor: not-allowed !important; }

.horizontal-line {
  border-bottom: 1px dashed grey;
  padding-top: 15px;
  padding-bottom: 15px; }

#myId {
  width: 300px; }

#mySecondId {
  width: 300px; }

.test1 {
  content: Hello World; }

.test2 {
  content: helloWorld; }

.triangle:before {
  border-bottom: 6px solid red;
  border-left: 6px dashed transparent;
  border-right: 6px dashed transparent; }

#one > .one {
  padding: 3px; }
#one > .two {
  padding: 4px; }

.error, .seriousError {
  background: blue;
  border: 1px red solid; }

.seriousError {
  border-width: 3px; }

.a .b .bb .c, .a .b .bb .one .two, .one .a .b .bb .two {
  font-size: 29px; }

body {
  padding: 0px;
  margin: 0px; }

html :not(.no-reset) body, html :not(.no-reset) h1, html :not(.no-reset) h2, html :not(.no-reset) h3, html :not(.no-reset) h4, html :not(.no-reset) h5, html :not(.no-reset) h6, html :not(.no-reset) hr, html :not(.no-reset) p, html :not(.no-reset) blockquote, html :not(.no-reset) dl, html :not(.no-reset) dt, html :not(.no-reset) dd, html :not(.no-reset) ul, html :not(.no-reset) ol, html :not(.no-reset) li, html :not(.no-reset) pre, html :not(.no-reset) fieldset, html :not(.no-reset) lengend, html :not(.no-reset) button, html :not(.no-reset) input, html :not(.no-reset) textarea, html :not(.no-reset) th, html :not(.no-reset) td {
  margin: 0px;
  padding: 0px; }
html .no-reset h1 {
  font-size: 24px;
  line-height: 40px; }
html .no-reset h2 {
  font-size: 20px;
  line-height: 36px; }
html .no-reset h3 {
  font-size: 18px;
  line-height: 30px; }
html .no-reset h4 {
  font-size: 16px;
  line-height: 24px; }
html .no-reset h5 {
  font-size: 14px;
  line-height: 20px; }
html .no-reset p, html .no-reset h6, html .no-reset li {
  font-size: 14px;
  line-height: 20px; }

body,
button, input, select, textarea {
  /* for ie */
  /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
  font: 14px/1 "微软雅黑", "Microsoft YaHei", "宋体", "Times New Roman", Times, serif Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
  /* 用 ascii 字符表示，使得在任何编码下都无问题 */
  /*14px/150% "微软雅黑", "Microsoft YaHei", "宋体", "Times New Roman", Times, serif*/ }

h1 {
  font-size: 27px;
  /* 18px / 12px = 1.5 */ }

h2 {
  font-size: 22px; }

h3 {
  font-size: 17px; }

h4, h5, h6 {
  font-size: 100%; }

address, cite, dfn, em, var {
  font-style: normal; }

/* 将斜体扶正 */
code, kbd, pre, samp, tt {
  font-family: "Courier New", Courier, monospace; }

/* 统一等宽字体 */
small {
  font-size: 12px; }

/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {
  list-style: none; }

/* 重置文本格式元素 */
a {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a {
  color: #88B7E9; }
  a:hover {
    color: #88B7E9; }
  a:visited {
    color: #88B7E9; }

abbr[title], acronym[title] {
  /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
  border-bottom: 1px dotted;
  cursor: help; }

q:before, q:after {
  content: ''; }

/* 重置表单元素 */
legend {
  color: #000; }

/* for ie6 */
fieldset, img {
  border: none; }

/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
  font-size: 100%;
  /* 使得表单元素在 ie 下能继承字体大小 */ }

/* 重置表格元素 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置 hr */
hr {
  border: none;
  height: 1px; }

/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
  overflow-y: scroll; }

/*# sourceMappingURL=reset.css.map */
