.parent {
  position: relative; }

.child_with_unknown_dimensions {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.child_with_known_width {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  transform: translateY(-50%); }

.child_with_known_height {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 400px;
  margin-top: -200px;
  transform: translateX(-50%); }

.child_width_known_demensions {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-left: -200px;
  margin-top: -200px; }

#myId {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0px; }

#mySecondId:before {
  content: "";
  display: table; }
#mySecondId:after {
  clear: both; }

.triangle:before {
  content: "";
  height: 0px;
  width: 0px;
  overflow: hidden; }

.button-disabled {
  background-color: #e6e6e6 !important;
  color: #ababab !important;
  cursor: not-allowed !important; }

.horizontal-line {
  border-bottom: 1px dashed grey;
  padding-top: 15px;
  padding-bottom: 15px; }

#myId {
  width: 300px; }

#mySecondId {
  width: 300px; }

.test1 {
  content: Hello World; }

.test2 {
  content: helloWorld; }

.triangle:before {
  border-bottom: 6px solid red;
  border-left: 6px dashed transparent;
  border-right: 6px dashed transparent; }

#one > .one {
  padding: 3px; }
#one > .two {
  padding: 4px; }

.error, .seriousError {
  background: blue;
  border: 1px red solid; }

.seriousError {
  border-width: 3px; }

.a .b .bb .c, .a .b .bb .one .two, .one .a .b .bb .two {
  font-size: 29px; }

#search_div {
  padding-top: 12px;
  margin-top: 14px; }

#search_div li {
  padding-left: 16px; }

#sidebar, #search_div {
  width: 300px;
  padding-left: 0px;
  color: white; }

#sidebar {
  margin-top: 8px; }

#sidebar a:hover {
  color: #0D5AB1;
  -webkit-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01); }

#sidebar a {
  color: #00B7E9; }

#search {
  float: left;
  color: #74C1BB;
  border: 1px #00B7E9 solid;
  border-radius: 2px 0px 0px 2px;
  width: 45%;
  height: 32px;
  padding: 4px 12px;
  border-right: none;
  font-size: 16px;
  border-radius: 2px 0 0 2px;
  outline: none;
  -webkit-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01); }

#search:focus {
  width: 70%; }

#button {
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
  background: #00B7E9;
  height: 32px;
  font-size: 16px;
  padding: 0 12px;
  border-radius: 0 2px 2px 0;
  width: 20%; }

#sidebar h4 {
  font-size: 24px;
  font-weight: normal; }

#sidebar h4:first-letter {
  font-size: 26px;
  line-height: 46px;
  padding-right: 5px; }

#sidebar h4 {
  height: 46px;
  color: #00B7E9;
  line-height: 46px;
  -webkit-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01); }

#sidebar > ul > li:hover > h4 {
  padding-left: 20px; }

#sidebar > ul > li {
  height: 46px;
  position: relative;
  border-bottom: 1px #00B7E9 solid;
  padding-left: 20px;
  padding-right: 20px;
  overflow: hidden;
  -webkit-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01); }

#sidebar > ul > li:last-of-type {
  border-bottom: 0px; }

#sidebar > ul > li:first-of-type {
  height: initial; }

#sidebar > ul > li:before {
  content: "";
  width: 142px;
  height: 0px;
  position: absolute;
  top: -1px;
  left: 0px;
  border-bottom: 3px #00B7E9 solid;
  -webkit-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -o-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -moz-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01);
  -ms-transition: all, 0.5s, cubic-bezier(0, 1.23, 0.68, 1.01); }

#sidebar > ul > li:hover:before {
  content: "";
  width: 172px;
  height: 0px;
  position: absolute;
  top: -1px;
  left: 0px;
  border-bottom: 3px #00B7E9 solid; }

#sidebar > ul > li.hover {
  height: inherit; }

#sidebar > ul > li > p {
  line-height: 29px;
  font-size: 14px; }

#sidebar > ul > li > ul > li {
  line-height: 29px;
  height: 29px;
  cursor: pointer;
  font-size: 14px;
  overflow: hidden; }

#sidebar > ul > li > ul > li > a {
  display: inline-block;
  width: 100%;
  height: 100%;
  line-height: 29px;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap; }

/*# sourceMappingURL=sidebar.css.map */
